[general]
duration        = 0         # duration of encoding, in seconds. 0 means forever
bufferSecs      = 1         # size of internal slip buffer, in seconds
reconnect       = yes       # reconnect to the server(s) if disconnected
realtime        = yes       # run the encoder with POSIX realtime priority
rtprio          = 3         # scheduling priority for the realtime threads

[input]
device          = hw:1,0    # OSS DSP soundcard device for the audio input
sampleRate      = 22050     # sample rate in Hz. try 11025, 22050 or 44100
bitsPerSample   = 16        # bits per sample. try 16
channel         = 1         # channels. 1 = mono, 2 = stereo

[icecast2-0]
bitrateMode	= cbr
format		= mp2
bitrate		= 128
server          = localhost
                            # host name of the server
port            = 8000      # port of the IceCast2 server, usually 8000
password        = catrover  # source password to the IceCast2 server
mountPoint      = catrover  # mount point of this stream on the IceCast2 server
name            = catrover
                            # name of the stream
description     = Catrover
                            # description of the stream
url             = http://www.yourserver.com
                            # URL related to the stream
genre           = my own    # genre of the stream
public          = no       # advertise this stream?
localDumpFile	= /dev/null  # local dump file
